:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

a {
  text-decoration: none;
  font-size: 14px !important;
}
.nav-link {
  color: white !important;
}
.mobileMenu {
  z-index: 100;
  position: absolute;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.textWhite {
  color: #fff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.blackColor {
  background-color: black;
}
.whiteBorder {
  border-bottom: 1px solid white;
}
.mainContent {
  background: #0a042a;
  /* height: 100vh; */
}
.fs14 {
  font-size: 14px;
}
.pinkTextColor {
  color: #ef127c;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.primeSlotText {
  position: absolute;
  top: 15px;
  left: 10px;
  right: 10px;
}
.primeSlotText p:first-child {
  font-size: 35px;
  color: #ffffff;
  text-shadow: 0px 0px 5px rgba(141, 10, 244, 0.72);
  /* font-family: 'Garet'; */
  font-weight: 850;
}
.slot {
  position: relative;
  display: inline-block;
  height: 160px;
  width: 100px;
  background: #1a0f3f;
  margin: 2px;
  overflow: hidden;
}
.slot img {
}
.slotsDiv {
  border: 8px solid #ef127c;
  border-radius: 30px;
  height: auto;
}
.handle {
  position: absolute;
  right: 25.5%;
  bottom: 25%;
}
.amountBox {
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 0px 10px rgba(96, 1, 252, 0.5);
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  width: 77px !important;
  height: 77px;
  border: 3px solid #ef127c;
  border-radius: 8px;
  color: white !important;
}
.amountBoxSelected {
  background-color: #ef127c;
}
/* .myImgContainer  div:nth-child(2) span {
  background-color: #fff;
} */

section {
  margin-top: -40px;
  margin-bottom: -40px;
  position: absolute;
  width: 100px;
  height: 230px;
  overflow: hidden;
  background-color: transparent;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  cursor: default;
}
.itemsImg {
  width: 80px;
  height: 80px;
}
.container {
  position: absolute;
  top: 2px;
  width: 100%;
  transition: top ease-in-out 0.3s;
  text-align: center;
}

.roll {
  width: 215px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
}

.rolling {
  /* animation: blinkingText 1.2s infinite; */
}

@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

.line {
  display: block;
  margin: 25px;
  margin-bottom: -10px;
  width: 25%;
}
.line img {
  width: 30%;
}
.line h2 {
  height: 90px;
  font-size: 15px;
  text-align: center;
  /* border-bottom: 1px solid #ef127c; */
  border: 3px solid #ef127c;
  border-bottom: none;
  position: relative;
  border-radius: 16px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.line h2 img {
  background-color: #0a042a;
  color: white;
  position: relative;
  top: -56px;
  padding: 0 10px;
}

/* media queries  */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .line {
    width: 100%;
    margin-bottom: 10px;
  }
  .line h2 {
    height: 110px;
  }
  .slots {
    margin-top: 20px;
  }
  .line h2 img {
    width: 30%;
    top: -20px;
  }
  section {
    width: 30px;
    height: 90px;
    margin-top: 0px;
  }
  .slot {
    width: 30px;
    height: 90px;
  }
  .itemsImg {
    width: 30px;
    height: 30px;
  }

  .amountBox {
    height: 80px;
    width: 90px !important;
  }
  .handle {
    display: none;
  }
  .line h2 {
    border: 1px solid #ef127c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .primeSlotText p:first-child {
    font-size: 25px;
    padding-top: 13px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 400px) {
  /* For tablets: */
}
@media only screen and (min-width: 500px) {
  /* For tablets: */
}
@media only screen and (min-width: 870px) {
  /* For desktop: */
}
@media only screen and (min-width: 1280px) {
  /* For desktop: */
}
@media only screen and (min-width: 1920px) {
  /* For desktop: */
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
}

@media screen and (max-width: 500px) and (min-width: 350px) {
}

@media screen and (max-width: 350px) and (min-width: 200px) {
}
